EXPO_PUBLIC_SUPABASE_URL=https://ycpkguwfxlhpovnsuujr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljcGtndXdmeGxocG92bnN1dWpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4NTc5MjEsImV4cCI6MjEwMTQzMzkyMX0.QdYitrRwQSl-00nF0b4SG0APLBoXm5sa_TcT5TOukdo
